<p>El usuario {{ padron }} ({{ email }}) se inscribió en la materia {{ codigo }} Curso: {{curso}}</p>

<a href="http://localhost:8080/inscripciones/{{ padron }}">Mis inscripciones</a>

<a href="http://localhost:8080/">Volver a menú inicio</a>