<p>Usted ya está inscripto en {{ datos.codigo }} - {{datos.nombre}}, curso: {{datos.curso}}</p>

<ul style="list-style-type:none">
<li><a href="http://localhost:8080/inscripciones/{{ padron }}">Mis inscripciones</a></li>

<li><a href="http://localhost:8080/search?padron={{padron}}&email={{email}}">Volver a menú inicio</a></li>
</ul>