<h1>Mis inscripciones</h1>

{{#each inscripciones}}

        <li>Curso: {{this.data.curso}} </li>
        <li>{{ this.data.codigo }} - {{ this.data.nombre }}</li>  
        <li>Docente: {{ this.data.docente }}</li>
        <li>Horarios: {{ this.data.horarios}}</li> 
        <li>Vacantes: {{this.data.vacantes}}</li></a></p>

{{/each}}