<h1>Sistema de inscripción a materias</h1>
<br>Padrón: {{padron}}</br>

<p>Seleccione curso:</p>
<table width="1200" border="0" cellspacing="0" cellpadding="1"> 
<tr bgcolor="#000066" align="center"> 
<td><b><font color="#FFFFFF">Cursos</font></b></td> 
</tr> 
<tr bgcolor="#000066"> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="4"> 
<tr bgcolor="#FFFFFF"> 

<td>
{{#each cursos}}
<ul style="list-style-type:none">
		<hr></hr>
		<form action="/new" method="post">
	    <fieldset>
	        <p> Curso: {{this.data.curso}}
	        <li>{{ this.data.codigo }} - {{ this.data.nombre }}</li>  
	        <li>Docente: {{ this.data.docente }}</li>
	        <li>Horarios: {{ this.data.horarios}}</li> 
	        <li>Vacantes: {{this.data.vacantes}}</li></p>
	        <hr></hr>
	        <input type="hidden" value="{{ ../padron }}" name="padron"/>
	        <input type="hidden" value="{{ ../email }}" name="email"/>
	        <input type="hidden" value="{{ this.data.curso }}" name="curso"/>
	        <input type="hidden" value="{{ this.data.codigo }}" name="code"/>
	        <input type="submit" value="Inscribir" />
	    </fieldset>
	</form>

</ul>  
{{/each}}
</td> 
</tr> 
</table> 
</td> 
</tr> 
</table> 


<ul style="list-style-type:none">
<li><a href="http://localhost:8080/inscripciones/{{ padron }}">Mis inscripciones</a></li>

<li><a href="http://localhost:8080/search?padron={{padron}}&email={{email}}">Volver a menú inicio</a></li>
</ul>


